/**
 * Site header
 */
.site-header {
  padding: 0px 20px; 
  display:flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  background-color:rgba(255, 255, 255, 0.5);
  z-index: 9999;
  border-bottom: 0px solid $grey-color-light;
  min-height: $spacing-unit * 2;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2); 
  margin-bottom: 0; 
  align-items: center; 
  position: sticky;
  position: -webkit-sticky;
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);

}

body.scrolled .site-header {
  padding: 0px 0 ; 
}

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }



.site-title {
	content: url("/assets/logoexb23.png");
  display: inline-block;
  height:auto; 
	position: relative;
	width: 400px;
  white-space: nowrap;
	// top: 100;
  margin-top: 2%;
  margin-bottom: 0.5%;
  // margin-right: 100%; 
  // padding-left: -100px;
}

@media (max-width: 1200px) {
  .site-title {
      content: url('/assets/globe.png'); 
      width: 100px; 
      left: -20px;
  }
}


.site-nav {
  // display:flex;
  position: fixed; 
  right: 3vw;
  top: 2vw;
  align-items: center; 
  display: inline-block;
  // padding-left: 30%;
  // padding-right: 10%;
  vertical-align: 100%;
  // margin-bottom: 100px;
  
  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link, .home-nav {
    color: $text-color;
    line-height: $base-line-height;
    font-family: "Noto Sans SC", sans-serif;
    font-size: 170%;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom-color 0.3s ease, border-bottom-width 0.3s ease;
    margin-right: 30px;

    // // Gaps between nav items, but not on the last one
    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }

  .page-link:hover, .home-nav:hover {
    color: $brand-color;
    text-decoration: none; 
  }

  .current-page {
    color: $brand-color;
    border-bottom: 3px solid currentColor;
  }

  .language-switch {
    color: $text-color;
    line-height: $base-line-height;
    font-family: "Noto Sans SC", sans-serif;
    font-size: 170%;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom-color 0.3s ease, border-bottom-width 0.3s ease;
    margin-right: 2vw; 
    margin-left: 1vw;
    @media not all and (min-resolution:.001dpcm) { 
      @supports (-webkit-appearance:none) {
        margin-right: 1vw;
      }
    }
    // padding-right: 1%;
    // padding-left: 1%;
    // border: 2px solid currentColor;
    // border-radius: 1px;
    // border-bottom: 4px solid currentColor;
    

    // @supports (-webkit-touch-callout: none) {
    //   margin-right: -4vw;
    // }
  }

  .language-switch:hover {
    color: #169c6d;
    text-decoration: none; 
  }

  /* Dropdown container */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown button */
  .dropbtn {
    color: rgb(0, 0, 0);
    font-family: "Noto Sans SC", sans-serif;
    font-size: 170%;
    font-weight: 500;
    margin-right: 30px;
    border: none;
    transition: color 0.3s ease, border-bottom-color 0.3s ease, border-bottom-width 0.3s ease;
    cursor: pointer;

    &.current-dropbtn {
      color: $brand-color;
      border-bottom: 3px solid currentColor;
    }
  }

  .dropbtn::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3vw; /* Adjust this value to match the gap */
    background: transparent;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1.5px solid #b0b0b0;
    border-radius: 2px;
    min-width: 4vw;
    margin-top: 3vw;
    padding: 1vw;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: $text-color;
    line-height: $base-line-height;
    font-family: "Noto Sans SC", sans-serif;
    font-size: 170%;
    font-weight: 500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease; 

    &.current-dropdown {
      color: $brand-color;
    }
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
    // border: 1.5px solid #f1f1f1;
    // border-radius: 3px;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    color: $brand-color;
    text-decoration: none; 
  }

  

  // .cn-contact {
  //   display: inline-block;
  //   padding: 10px 20px;
  //   margin-left: 100px;
  //   margin:auto;
  //   // background-color: $brand-color;
  //   background-color: #000000;
  //   color: #fff;
  //   font-size: 170%;
  //   font-weight: 500;
  //   text-align: center;
  //   text-decoration: none;
  //   border-radius: 2px;
  //   transition: background-color 0.3s ease;

  //   &:hover {
  //     background-color: $brand-color;
  //   }
  // }
  
  @media (max-width: 900px) {
  // @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: calc($spacing-unit / 2);
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }
    

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      &{margin-left: 20px};
    }
    
  }
}

/**
 * Site footer
 */
.site-footer {
  font-family: "Noto Sans SC", sans-serif;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: calc($spacing-unit / 2);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -(calc($spacing-unit / 2));
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: (calc($spacing-unit / 2));
  padding-left: (calc($spacing-unit / 2));
}

.footer-col-1 {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

section {
  width: 100%;
  height: 450px;
  background: #ccc;
  margin: 0;
  padding: 0;
}


// .slide-show-container {
//   height: 100%;
//   width: 100%;
//   position: relative;
// }
// /* CSS Styles in common for all slides */
// .wrapper-one,
// .wrapper-two,
// .wrapper-three {
//   background-color: #eee;
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 100%;
//   width: 100%;
//   position: absolute;
// }

// /* CSS Styles for each slide */
// /* Just add the image as background attribute and add some animation */

// .wrapper-one {
//   background-image: url("/_includes/exbinchero1.jpeg");
// }

// .wrapper-two {
//   background-image: url("/_includes/exbinchero2.jpeg");
//   animation: slideTwoAnim 20s infinite;
// }

// .wrapper-three {
//   background-image: url("/_includes/exbinchero1.jpeg");
//   animation: slideThreeAnim 20s infinite;
// }

// /* Styles for the text */
// .wrapper-text {
//   font: 700 40px/1.4 Roboto;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   margin-top: 150px;
// }

// /* Animations */
// @keyframes slideTwoAnim {
//     0%{opacity:0;}
//     17%{opacity:0;}
//     33%{opacity:1;}
//     50%{opacity:1;}
//     67%{opacity:0;}
//     100%{opacity:0;}
// }

// @keyframes slideThreeAnim {
//     0%{opacity:0;}
//     50%{opacity:0;}
//     67%{opacity:1;}
//     83%{opacity:1;}
//     100%{opacity:0;}
// }
