---
layout: default
---

</div>
</main>


{% include car.html %}
{{ content }}

<main class="page-content" aria-label="Content">
  <div class="wrapper">

  </div>
</main>

<script>
  // // Function to detect if the user is on a mobile device
  // function isMobile() {
  //   return /Mobi|Android/i.test(navigator.userAgent);
  // }

  // // Conditionally show mobile or desktop content
  // if (isMobile()) {
  //   document.querySelector('.mobile').style.display = 'block';
  // } else {
  //   document.querySelector('.desktop').style.display = 'block';
  // }
</script>



