---
layout: default
carousels:
  - images: 
    - image: /assets/exbinchero1.jpg
    - image: /assets/exbinchero2.jpg
    - image: /assets/exbinchero1.jpg
    - image: /assets/exbinchero2.jpg
  - images:
    - image: /assets/exbinchero1.jpg
    - image: /assets/exbinchero2.jpg
    - image: /assets/exbinchero1.jpg
    - image: /assets/exbinchero2.jpg
---

<!-- <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
</div> -->

<div class="body">
  {% include carousel.html %}

  
</div>

{{ content }}

