---
layout: default
---

<div class="body">
  <div class="mobile" style="display: none;">
    {% include carousel-mobile.html %}
  </div>
  <div class="desktop" style="display: none;">
    {% include carousel.html %}
  </div>
</div>

{{ content }}

<script>
  // Function to detect if the user is on a mobile device
  function isMobile() {
    return /Mobi|Android/i.test(navigator.userAgent);
  }

  // Conditionally show mobile or desktop content
  if (isMobile()) {
    document.querySelector('.mobile').style.display = 'block';
  } else {
    document.querySelector('.desktop').style.display = 'block';
  }
</script>


